@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#navbar{
    position: sticky;
    top:0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(91, 32, 32, 0.5);
    background:rgb(52, 13, 13);

}
#navbarSupportedContent{
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid rgb(102, 58, 58);

}
#navbarSupportedContent button{
    background:rgb(73, 33, 33);
    border-radius: 15px;  
    color: rgb(218, 197, 197);
}



/*---HOME---*/
section{
width: 100%;
min-height: 100vh;
display: flex;
/* padding-top: 300px; */
justify-content: center;
align-items: center;

}
#home{
    background: url(../IMG/mar.webp);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    flex-direction: column;
}
 #home h1{
    color: maroon;
    font-size: 100px;
    /* margin-left: 30px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px rgb(41, 17, 17),
                 0px 2px 0px rgb(54, 26, 26),
                 0px 3px 0px rgb(54, 26, 26),
                 0px 4px 0px rgb(54, 26, 26);
    text-align: center;             
}
#home p{
    color:white;
    font-size: 20px;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
    background:rgb(94, 55, 55) !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(91, 32, 32, 0.5);
}
/*------about----*/
#about{
    background: linear-gradient(to right,#1c040e,#030001d9 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: rgb(252, 0, 105);

}
#about h5{
    color: linen;
}
#about pre{
    color: linen;
}
/*------Products----*/
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img{
    width: 100px;
    height: 100px;
}
.card{
    /* width: 250px;
    height: 150px; */
    border: none !important;
    box-shadow: 15px 20px 20px rgba(86, 36, 36, 0.863),
                inset 4px 4px 10px rgb(116, 67, 67);
    border-radius: 20px !important; 
    margin: 20px 60px;
}
.card-body{
    text-align: center;
    overflow: hidden;
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(145, 23, 23, 0.3),
                      -4px -4px 10px rgb(86, 20, 20);
    transition: .2s; 

}
/*-------------contact----------------*/
#contact img{
    height: 100%;
}
.box{
    width: 100% !important;
    /* background: rgb(223, 209, 209); */
    /* margin-top: 10px; */
}
form{
    display: flex;
    flex-direction: column;
}
footer{
    height: 90px;
    width: 100%;
    background-color: rgb(76, 57, 57);
}
 footer pre{
    text-align: center;
    font-size: 25px;
    color: linen;
} 
 footer p{
    text-align: center;
    font-size: 30px;
    color: rgb(29, 1, 1);
}  
